1. Extract Features <br/>

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("Iris.csv")         #importing the Irix file dataset  to jupyter.

In [9]:
df.head()        #converting dataset to data frame

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

let specis is my target column we have to predict the species using training data. subsetting this species dataset column and putting it into y variable.

In [12]:
y=df["Species"]

In [13]:
df["Species"].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

it this species we have finite set of posibilities as virginica , setosa and versicolor. so my targer column has finite set of posibilities so i will go with classification model.

# 1

In [16]:
X=df.drop("Species",axis=1)     
#for dropping the species column, to search species in column labels use axis=1

In [ ]:
X.head()

In [17]:
X=X.drop("Id",axis=1)   
#Id column will not help to predict the species so drop it

In [18]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [19]:
X.isna().sum()  
#this instruction will find null values and 
#sum all the null values as true means 1 and false means 0 
#so it will add all 1's that is null values and will show us.

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [21]:
y.isna().sum()
#in the targer do we have null values.

0

featues should be numeric in nature. 
Are all the columns are numeric (integer or float) in nature?
yes

In [23]:
X.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

In [26]:
type(X)
#Features should be of the type array/ dataFrame<br/>

pandas.core.frame.DataFrame

In [28]:
X.shape
#Features should have some rows and some columns, So 150 rows and 4 columns here

(150, 4)

# 2 Split the dataset into training and testing sets
Features should be on the same scale

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42, stratify=y)



# considering 30% test size so train size will be 70%. 
# 70% will be selected randomly , But everytime we will get same accuracy as it takes same random data when we use that random_state=42.
# if every time we open the python and it will change the random data the accuracy will change accordingly.
# stratify=y is used because percentage of labes occured in my training sets it should be same as occuring in testing column labels. this process is called stratification.
# x will be splited into xtrain and xtest and y will be splited into ytrain and ytest.

In [31]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [32]:
X.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [43]:
from sklearn.preprocessing import MinMaxScaler


#minmaxscaler used,in which minimum value will be converted to 0 and maximum value will be converted to 1 and using some formula all other will be converted.
#formula---->  scaled=(x-xmin)/(xmax-xmin)
# we are fitting max and mini for training data only. same min and max values applied on testing data
# we are transforming this to testing data. we are not appling fitting to test data remember that.
# we are appling this only on "features" i.e. x_train and x_test

In [40]:
scaler=MinMaxScaler()

In [44]:
X_train=scaler.fit_transform(X_train)

In [45]:
X_test=scaler.transform(X_test)

# 3 Train the model on the training set

In [46]:
from sklearn.neighbors import KNeighborsClassifier

In [47]:
knn=KNeighborsClassifier(n_neighbors=5)

In [48]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

# 4 Test the model on the testing set

In [49]:
knn.score(X_test,y_test)

0.9333333333333333

# Prediction

In [50]:
import pandas as pd

In [52]:
data=pd.read_csv("irisonlyfeatures.csv")

In [53]:
data.head()

     0    1    2     3
0  5.1  3.1  1.4  0.19
1  4.6  3.4  1.3  2.10

In [54]:
data.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [55]:
data.dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [56]:
type(X)

pandas.core.frame.DataFrame

In [57]:
X.shape

(150, 4)

In [58]:
data=scaler.transform(data)

In [59]:
knn.predict(data)

array(['Iris-virginica', 'Iris-virginica'], dtype=object)